.images-main{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.images-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.img{
    width: 500px;
}
.img1{
    width: 400px;
}
.ai-scan-main{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.ai-scan-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai-scan-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.hidden{
    visibility: hidden;
}
.ai-main{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.ai-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    color: white;
}
.ai-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: #080808;
    border: 2px solid #fff;
    border-radius: 8px;
    color: white;
    font-size: 25px;
    padding: 13px 45px;
    cursor: pointer;
}
.history-main{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/article.gif');
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
}
.history-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.history-content img{
    width: 300px;
}
.slider-main{
    width: 100%;
    
}
.header{
    text-align: center;
    color: white;
}
.slider-container{
    /* width: 100%; */
    padding: 20px 80px;
    color: white;
    
}

    .slider-container img{
        border-radius: 2%;
        border: 2px solid white;
        cursor: pointer;
        width: 90%;
       
      } 

      /* .slick-slide {
        margin: 0 10px;
      } */
      /* .slick-list {
        margin: 0 -10px;
      } */
/* .slider1{
margin-left: 20px;
}
   
.slider2{
    margin-left: 20px;
    } */


/* .slider-container{
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    border-color: white;
}

.header {
    font-size: 30px;
}
    .slider-images {
        width: 400px;
        aspect-ratio: 1/1;
        outline-color: red;
        display: inline-block;
      }

      .slider-images img {
        display: flex;
        margin: 0 auto;
        height: 40vh;
        object-fit: cover;
        width: 100%;
        height: 100%;
      } */
      
      .faq-main{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
       
    }
    .faq-container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .faq-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .faq-container h1{
        color: white;
        text-align: center;
        font-size: 35px;
    }
 .faq-box{
        border: 2px solid white;
        border-radius: 15px;
        color: white;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .faq-question{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .faq-img{
        width: 50px;
        border-radius: 50%;
    }
    .rotate-faq-img{
        width: 50px;
        rotate: 180deg;
        border-radius: 50%;
    }
    .faq-box h3{
        font-size: 24px;
        color: white;
    }
    .faq-footer{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }
    .faq-footer h3{
        font-size: 24px;
    }
    .faq-footer input{
        background-color: black;
        width: 300px;
        height: 50px;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        border: 3px solid white;
        text-align: center;
    }